.banner {
  // .banner__img-ibg
  &__img-ibg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    @include adaptiveValue("height", 610, 244, 768, 320, 1);
    img {
      z-index: -2;
    }
  }
  // .banner__container
  &__container {
  }
  // .banner__title
  &__title {
    font-family: "Jura";
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    @include adaptiveValue("margin-bottom", 40, 15, 768, 320, 1);
    @include adaptiveValue("font-size", 32, 24, 768, 320, 1);
  }
  // .banner__subtitle
  &__subtitle {
    display: inline-block;
    line-height: rem(20);
    text-align: center;
    @include adaptiveValue("font-size", 16, 14, 768, 320, 1);
  }
}
//====================================================================
.catalog {
  // .catalog__container
  &__container {
  }
  // .catalog__title
  &__title {
    font-family: "Jura";
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    @include adaptiveValue("margin-bottom", 30, 20, 768, 320, 1);
    @include adaptiveValue("font-size", 32, 25, 768, 320, 1);
  }
  // .catalog__body
  &__body {
    display: grid;
    grid-template-columns: rem(300) 1fr;
    gap: rem(30);
    @media (max-width: $tablet) {
      grid-template-columns: 1fr;
      gap: 0;
    }
  }
  // .catalog__filter
  &__filter {
  }
  // .catalog__content
  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(300), 1fr));
    gap: rem(30);
  }
}
.filter-catalog {
  // .filter-catalog__title
  &__title {
    display: none;
    width: 100%;
    padding: rem(14) 0;
    background-color: $mainColorDarkGrayBg;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    border-radius: rem(8);
    @include adaptiveValue("margin-bottom", 40, 25, 768, 320, 1);
    @include adaptiveValue("font-size", 18, 14, 768, 320, 1);
    @media (max-width: $tablet) {
      display: block;
    }
  }
  // .filter-catalog__items
  &__items {
    @media (max-width: $tablet) {
      display: none;
      &._active {
        display: block;
      }
    }
  }
  // .filter-catalog__item
  &__item {
    border-bottom: 1px solid #4f4f4f;
    @include adaptiveValue("padding-bottom", 40, 25, 768, 320, 1);
    @include adaptiveValue("margin-bottom", 40, 25, 768, 320, 1);
  }
  // .filter-catalog__title
  &__subtitle {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    font-size: rem(16);
    line-height: 1.25;
    &::before {
      font-size: rem(8);
      transition: transform 0.7s ease 0s;
    }
    &._spoller-active {
      &::before {
        transform: rotate(180deg);
      }
    }
  }
  // .filter-catalog__body
  &__body {
    @include adaptiveValue("padding-top", 28, 15, 768, 320, 1);
  }
  // .filter-catalog__checkbox
  &__checkbox {
  }
}
.price-filter {
  // .price-filter__inpunts
  &__inpunts {
    display: flex;
    gap: rem(10);
    margin-bottom: rem(30);
  }
  // .price-filter__input
  &__input {
    width: 50%;
    padding: rem(6);
    color: $mainColorDarkGrayText;
    background-color: $mainColorDarkGrayBg;
    text-align: center;
    border-radius: rem(3);
    @media (any-hover: hover) {
      &:focus {
        outline: 0;
      }
    }
  }
  // .price-filter__range
  &__range {
  }
}
.checkbox {
  // .checkbox__input
  &__input {
  }
  // .checkbox__label
  &__label {
    color: $mainColorDarkGrayText;
    font-size: rem(14);
    line-height: 1.4;
  }
  // .checkbox__text
  &__text {
  }
}
