// Заголовки, общие БЄМ блоки и проче...
//====================================================================
[class*="__wrapper_main"] {
  @include adaptiveValue("padding-left", 0, 54, 1200, 768, 2);
  @include adaptiveValue("padding-left", 54, 0, 768, 320);
  @include adaptiveValue("padding-right", 0, 54, 1200, 768, 2);
  @include adaptiveValue("padding-right", 54, 0, 768, 320);
}
//====================================================================
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  @include adaptiveValue("row-gap", 25, 30, 1200, 768, 1);
  @include adaptiveValue("column-gap", 18, 30, 1200, 768, 2);
  @include adaptiveValue("column-gap", 30, 14, 768, 320);
  @media (max-width: em(1100)) {
    grid-template-columns: repeat(2, 1fr);
  }
  // .products__item
  &__item {
    height: 100%;
    @include adaptiveValue("min-height", 481, 453, 1200, 768, 2);
    @include adaptiveValue("min-height", 453, 190, 768, 320);
    // .products__item_span2
    &_span2 {
      grid-column: span 2;
    }
  }
}
//====================================================================
.intro-collection {
  position: relative;
  height: 100%;
  border-radius: 14px;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
  // .intro-collection__title
  &__title {
    @media (any-hover: hover) {
      &:hover + * img {
        transform: scale(1.1);
      }
    }
  }
  // .intro-collection__title-link
  &__title-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include adaptiveValue("gap", 20, 10, 1200, 768, 1);
    @include adaptiveValue("padding", 28, 20, 1200, 768, 2);
    @include adaptiveValue("padding", 20, 15, 768, 320);
    @include adaptiveValue("padding-bottom", 28, 22, 1200, 768, 2);
    @include adaptiveValue("padding-bottom", 22, 20, 768, 320);

    & span {
      font-weight: 600;
      @include adaptiveValue("font-size", 16, 14, 1200, 768, 1);
      @include adaptiveValue("line-height", 20, 17, 1200, 768, 1);
    }
    &::before {
      order: 2;
      font-size: rem(10);
    }
    @media (any-hover: hover) {
      &:hover {
        & span {
          text-decoration: underline;
        }
        &::before {
          font-size: rem(12);
        }
      }
    }
  }
  // .intro-collection__image-ibg
  &__image-ibg {
    position: initial;
    z-index: -2;
    & img {
      transition: transform 1s ease 0s;
    }
  }
}
//====================================================================
.product-cart {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: rem(13);
  @media (any-hover: hover) {
    &:hover .product-cart__shop-link {
      background-color: #c80000;
    }
  }
  // .product-cart__image-content
  &__image-content {
    background-color: $mainColorDarkGrayBg;
    border-radius: 14px;
    overflow: hidden;
    height: 100%;
    @include adaptiveValue("min-height", 412, 378, 1200, 768, 2);
    @include adaptiveValue("min-height", 378, 190, 768, 320);
    @include adaptiveValue("padding", 11, 8, 768, 320, 1);
    & img {
      transition: transform 1s ease 0s;
    }
    @media (any-hover: hover) {
      &:hover img {
        transform: scale(1.2);
      }
    }
    @media (max-width: em(720)) {
      padding-bottom: rem(67);
    }
  }
  // .product-cart__body
  &__body {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: rem(14);
    line-height: 2;
    @media (max-width: em(720)) {
      position: absolute;
      bottom: rem(10);
      left: rem(10);
      right: rem(15);
      font-weight: 400;
    }
  }
  // .product-cart__title
  &__title {
    @include adaptiveValue("font-size", 14, 11, 768, 320, 1);
    @include adaptiveValue("line-height", 28, 13, 768, 320, 1);
  }
  // .product-cart__title-link
  &__title-link {
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  // .product-cart__footer
  &__footer {
    display: flex;
    align-items: center;
    column-gap: rem(28);
    @media (max-width: em(720)) {
      column-gap: rem(10);
    }
  }
  // .product-cart__price
  &__price {
    font-weight: 600;
    color: rgba(255, 255, 255, 0.5);
  }
  // .product-cart__new
  &__new {
    display: none;
    color: #ff3232;
    .product-cart_new & {
      display: inline-block;
      @media (max-width: em(720)) {
        font-size: rem(11);
      }
    }
  }
  // .product-cart__shop-link
  &__shop-link {
    position: absolute;
    height: rem(37);
    width: rem(37);
    border-radius: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: rem(11);
    padding: rem(11);
    overflow: hidden;
    transition: width 0.5s ease 0s, background-color 0.5s ease 0s;
    @include adaptiveValue("top", 24, 9, 768, 320, 1);
    @include adaptiveValue("right", 24, 9, 768, 320, 1);
    @media (any-hover: hover) {
      &:hover {
        width: rem(72);
        & .product-cart__shop {
          opacity: 1;
        }
      }
    }
  }
  // .product-cart__plus
  &__plus {
    flex: 0 0 rem(15);
    position: relative;
    height: rem(15);
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #fff;
    }
    &::after {
      transform: rotate(-90deg);
    }
  }
  // .product-cart__shop
  &__shop {
    font-size: rem(16);
    opacity: 0;
    transition: opacity 0.5s ease 0s;
  }
}
