.header {
	position: relative;
	background-color: rgba(33, 33, 33, 0.8);
	font-size: rem(20);
	// .header__container
	&__container {
		display: flex;
		gap: 1rem;
		align-items: center;
		@include adaptiveValue("height", 71, 43, 768, 320, 1);
		@media (max-width: $mobileSmall) {
			gap: rem(27);
		}
	}
	// .header__left
	&__left {
		flex: 0 1 33%;
		display: flex;
		align-items: center;
		gap: rem(30);
		.menu-open & {
			padding-left: rem(20);
		}
		@media (max-width: $mobileSmall) {
			flex: 0 1 auto;
		}
	}
	// .header__logo
	&__logo {
		flex: 0 1 33%;
		& img {
			display: block;
			margin: 0 auto;
			max-width: 146px;
			min-width: 100px;
			width: 100%;
			height: auto;
		}
		@media (max-width: $mobileSmall) {
			order: 2;
		}
	}
	// .header__right
	&__right {
		flex: 0 1 33%;
		display: flex;
		justify-content: flex-end;
		gap: rem(26);
		@media (max-width: $mobileSmall) {
			justify-content: flex-start;
			flex: 1 1 auto;
		}
	}
}
.header-left {
	// .header-left__menu
	&__menu {
	}
	// .header-left__location
	&__location {
		position: relative;
		@media (max-width: $mobileSmall) {
			display: none;
		}
	}
	// .header-left__phone
	&__phone {
		position: relative;
		font-family: "Jura";
		font-weight: 500;
		line-height: 1.2;
		text-transform: uppercase;
		&::before {
			display: none;
		}
		@media (max-width: $mobile) {
			&::before {
				display: block;
			}
			& span {
				display: none;
			}
		}
	}
}
.menu {
	.menu-open & {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 2;
		background-color: rgba(0, 0, 0, 0.6);
	}
	// .menu__icon
	&__icon {
		.menu-open & {
			position: absolute;
			top: rem(40);
			left: rem(48);
			width: rem(24);
			height: rem(24);
			z-index: 10;
			background-color: initial;
			&::before {
				content: "\e90f";
				font-size: rem(10);
				transform: rotate(90deg);
			}
		}
	}
	// .menu__body
	&__body {
		display: none;
		.menu-open & {
			position: fixed;
			display: flex;
			flex-direction: column;
			top: 0;
			left: 0;
			height: 100%;
			width: rem(444);
			z-index: 5;
			padding: rem(115) 0 0 rem(48);
			background-color: $mainColorDarkGray;
			overflow: hidden;
			&::before {
				position: absolute;
				content: "";
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: -2;
				background: url("@img/main-block/bg.png") center 0 no-repeat;
				background-size: cover;
				filter: blur(20px);
				// opacity: 0.6;
			}
			&::after {
				position: absolute;
				content: "";
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: -2;
				background-color: rgba(0, 0, 0, 0.64);
			}
		}
	}
	// .menu__list
	&__list {
		display: flex;
		flex-direction: column;
		text-transform: uppercase;
		// .menu__list_main
		&_main {
			font-weight: 500;
			line-height: 1.22;
			@include adaptiveValue("font-size", 18, 16, 768, 320, 1);
			@include adaptiveValue("row-gap", 42, 25);
		}
		// .menu__list_sub
		&_sub {
			row-gap: rem(25);
			font-weight: 600;
			font-size: rem(15);
			line-height: 1.2;
			opacity: 0.6;
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 70, 25);
		}
	}
	// .menu__item
	&__item {
	}
	// .menu__link
	&__link {
	}
}
.icon-menu {
}
.header-right {
	// .header-right__basket
	&__basket {
	}
	// .header-right__notifications
	&__notifications {
		@media (max-width: $mobileSmall) {
			display: none;
		}
	}
	// .header-right__search
	&__search {
		@media (max-width: $mobileSmall) {
			display: none;
		}
	}
}
