.main-slider {
  // .main-slider__slider
  &__slider {
    width: 100vw;
    @include adaptiveValue("height", 590, 540, 768, 320, 1);
  }
  // .main-slider__swiper
  &__swiper {
    height: 100%;
  }
  // .main-slider__slide
  &__slide {
    position: relative;
    overflow-x: hidden;
  }
  // .main-slider__controll
  &__controll {
  }
}
//====================================================================
.slide-main-slider {
  // .slide-main-slider__container
  &__container {
  }
  // .slide-main-slider__wrapper_home
  &__wrapper_home {
    @include adaptiveValue("padding-top", 149, 131, 1200, 768, 2);
    @include adaptiveValue("padding-top", 131, 73, 768, 320);
  }
  // .slide-main-slider__content
  &__content {
    margin-bottom: rem(39);
    @include adaptiveValue("margin-left", 69, 0, 1200, 768, 1);
  }
  // .slide-main-slider__title
  &__title {
    width: rem(602);
    font-family: "Jura";
    font-weight: 400;
    line-height: 1.17;
    margin-bottom: rem(24);
    @include adaptiveValue("font-size", 41, 24, 1200, 768, 1);
    @media (max-width: em(768)) {
      text-transform: uppercase;
      width: 100%;
    }
  }
  // .slide-main-slider__text
  &__text {
    width: rem(447);
    font-weight: 400;
    line-height: 1.21;
    @include adaptiveValue("font-size", 19, 16, 1200, 768, 2);
    @include adaptiveValue("font-size", 16, 14, 768, 320);
    @media (max-width: $mobile) {
      width: 100%;
    }
    @media (max-width: em(768)) {
      line-height: 1.25;
    }
    @media (max-width: em(320)) {
      line-height: 1.4;
    }
  }
  // .slide-main-slider__button
  &__button {
    @include adaptiveValue("height", 55, 49, 1200, 768, 1);
    @include adaptiveValue("margin-left", 72, 0, 1200, 768, 1);
  }
  // .slide-main-slider__image
  &__image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    // max-height: rem(590);
    width: 100%;
    height: 100%;
    z-index: -20;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
//====================================================================
.controll-main-slider {
  margin-top: rem(-81);
  // .controll-main-slider__container
  &__container {
  }
  // .controll-main-slider__wrapper_home
  &__wrapper_home {
    display: flex;
    justify-content: space-between;
    column-gap: rem(20);
  }
  // .controll-main-slider__pagination
  &__pagination {
    flex: 1 1 auto;
    max-width: rem(440);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: rem(10);
    @include adaptiveValue("column-gap", 42, 15, 768, 320, 1);
    font-weight: 600;
    font-size: rem(15);
    line-height: 1.2;
    cursor: pointer;
    z-index: 5;
    transition: font-size 0.3s ease 0s;
    & [class*="-bullet"] {
      @media (any-hover: hover) {
        &:hover {
          font-size: rem(20);
        }
      }
    }
    & [class*="-bullet-active"] {
      width: rem(19);
      height: rem(19);
      border-radius: 50%;
      color: #000;
      background-color: #fff;
      @media (any-hover: hover) {
        &:hover {
          width: rem(25);
          height: rem(25);
        }
      }
    }
  }
  // .controll-main-slider__button-prev
  // .controll-main-slider__button-next
  &__button-prev,
  &__button-next {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: rem(48);
    width: rem(48);
    font-size: rem(9);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: font-size 0.3s ease 0s;
    transition: box-shadow 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        font-size: rem(12);
        box-shadow: 0px 0px 20px rgb(202, 198, 198);
      }
    }
  }
  &__button-prev {
    transform: rotate(-180deg);
  }
  &__button-next {
    transform: rotate(0deg);
  }
}
//====================================================================
.categories {
  // .categories__container
  &__container {
  }
  // .categories__wrapper
  &__wrapper {
  }
  // .categories__list
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @include adaptiveValue("column-gap", 20, 10, 768, 320, 1);
    @include adaptiveValue("row-gap", 40, 20, 768, 320, 1);
    @include adaptiveValue("margin-left", 90, 0, 1200, 768, 1);
    @include adaptiveValue("margin-right", 90, 0, 1200, 768, 1);
  }
  // .categories__item
  &__item {
    // @include adaptiveValue("max-width", 210, 142, 1200, 768, 2);
    // @include adaptiveValue("max-width", 142, 135, 768, 320);
  }
  // .categories__link
  &__link {
    display: inline-block;
    width: 100%;
    font-weight: 500;
    line-height: 1.24;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
    @include adaptiveValue("font-size", 17, 10, 768, 320, 1);
    &::before {
      @include adaptiveValue("font-size", 42, 25, 768, 320, 1);
      @include adaptiveValue("margin-bottom", 30, 10, 768, 320, 1);
    }
    @media (any-hover: hover) {
      &:hover {
        color: #ff0000;
      }
    }
  }
}
//====================================================================
.social-preview {
  position: relative;
  border-radius: 14px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  @include adaptiveValue("height", 412, 378, 1200, 768, 2);
  @include adaptiveValue("height", 378, 190, 768, 320);
  @media (max-width: em(720)) {
    height: 100%;
  }
  // .social-preview__title
  &__title {
    @media (any-hover: hover) {
      &:hover + * img {
        transform: scale(1.1);
      }
    }
  }
  // .social-preview__title-link
  &__title-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    @include adaptiveValue("gap", 18, 10, 768, 320, 1);
    @include adaptiveValue("padding", 33, 15, 768, 320, 1);
    & span {
      font-weight: 600;
      text-transform: uppercase;
      @include adaptiveValue("font-size", 16, 12, 768, 320, 1);
      @include adaptiveValue("line-height", 20, 17, 768, 320, 1);
    }
    &::before {
      @include adaptiveValue("font-size", 22, 14, 768, 320, 1);
    }
    @media (any-hover: hover) {
      &:hover {
        & span {
          text-decoration: underline;
        }
        &::before {
          @include adaptiveValue("font-size", 25, 16, 768, 320, 1);
        }
      }
    }
  }
  // .social-preview__image-ibg
  &__image-ibg {
    position: initial;
    z-index: -2;
    & img {
      transition: transform 1s ease 0s;
    }
  }
}
//====================================================================
.news-popular {
  // .news-popular__tabs
  &__tabs {
  }
}
.tabs-news-popular {
  // .tabs-news-popular__navigation
  &__navigation {
    display: flex;
    justify-content: center;
    margin-bottom: rem(30);
    @include adaptiveValue("gap", 53, 25, 768, 320, 1);
  }
  // .tabs-news-popular__title
  &__title {
    font-weight: 600;
    line-height: 2.47;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    @include adaptiveValue("font-size", 17, 14, 768, 320, 1);
  }
  // ._tab-active
  ._tab-active {
    color: #fff;
    border-bottom: 2px solid #c80000;
  }
  // .tabs-news-popular__content
  &__content {
  }
  // .tabs-news-popular__body
  &__body {
  }
}
//====================================================================
.about {
  // .about__container
  &__container {
  }
  // .about__wrapper
  &__wrapper {
    // .about__wrapper_home
    &_main {
    }
  }
  // .about__row
  &__row {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 39, 30, 1200, 768, 1);
      @include adaptiveValue("margin-bottom", 30, 20, 768, 320);
    }
    @media (min-width: em(600)) {
      display: flex;
      @include adaptiveValue("column-gap", 80, 30, 1200, 768, 1);
    }
    // .about__row_reverse
    &_reverse {
      flex-direction: row-reverse;
    }
  }
  // .about__column
  &__column {
    display: flex;
    flex-direction: column;
    // .about__column_narrow
    &_narrow {
      max-width: rem(672);
    }
    & img {
      border-radius: rem(14);
      @include adaptiveValue("width", 300, 236, 768, 600, 1);
      @media (max-width: em(599)) {
        width: rem(290);
        align-self: center;
        @include adaptiveValue("margin-bottom", 25, 15, 768, 320);
      }
    }
  }
  // .about__title
  &__title {
    font-family: "Jura";
    font-weight: 500;
    line-height: 1.2;
    @include adaptiveValue("margin-bottom", 51, 25, 1200, 768, 2);
    @include adaptiveValue("margin-bottom", 25, 15, 768, 320);
    @include adaptiveValue("font-size", 35, 24, 1200, 768, 2);
    @include adaptiveValue("font-size", 24, 18, 768, 320);
  }
  // .about__text
  &__text {
    line-height: 1.38;
    color: $mainColorDarkGrayText;
    @include adaptiveValue("font-size", 16, 14, 1200, 768, 2);
    @include adaptiveValue("font-size", 14, 11, 768, 320);
    &:not(:nth-last-of-type(1)) {
      @include adaptiveValue("margin-bottom", 27, 15, 1200, 768, 2);
      @include adaptiveValue("margin-bottom", 15, 10, 768, 320);
    }
  }
  // .about__subtitle
  &__subtitle {
    margin-top: rem(43);
    font-family: "Jura";
    font-weight: 600;
    line-height: 1.29;
    max-width: rem(700);
    @include adaptiveValue("font-size", 28, 24, 1200, 768, 2);
    @include adaptiveValue("font-size", 24, 18, 768, 320);
    @media (max-width: em(768)) {
      order: -1;
      margin-top: 0;
      @include adaptiveValue("margin-bottom", 25, 15, 768, 320);
    }
  }
}
//====================================================================
.articles {
  // .articles__container
  &__container {
  }
  // .articles__wrapper
  &__wrapper {
    // .articles__wrapper_home
    &_main {
    }
  }
  // .articles__title
  &__title {
    font-family: "Jura";
    font-weight: 500;
    line-height: 1.17;
    @include adaptiveValue("font-size", 35, 18, 768, 320, 1);
    @include adaptiveValue("margin-bottom", 37, 30, 768, 320, 1);
  }
  // .articles__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: rem(30);
    @include adaptiveValue("gap", 30, 15, 768, 320, 1);
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }
  // .articles__item
  &__item {
    height: 465px;
    @media (min-width: $mobile) {
      flex: 1 1 calc(33% - 30px);
      min-width: 330px;
    }
  }
}
