.main-slider {
  // .main-slider__slider
  &__slider {
    width: 100vw;
    @include adaptiveValue("height", 590, 540, 768, 320, 1);
  }
  // .main-slider__swiper
  &__swiper {
    height: 100%;
  }
  // .main-slider__slide
  &__slide {
    position: relative;
    overflow-x: hidden;
  }
  // .main-slider__controll
  &__controll {
  }
}
//====================================================================
.slide-main-slider {
  // .slide-main-slider__container
  &__container {
  }
  // .slide-main-slider__wrapper_main
  &__wrapper_main {
    @include adaptiveValue("padding-top", 149, 131, 1200, 768, 2);
    @include adaptiveValue("padding-top", 131, 73, 768, 320);
  }
  // .slide-main-slider__content
  &__content {
    margin-bottom: rem(39);
    @include adaptiveValue("margin-left", 69, 0, 1200, 768, 1);
  }
  // .slide-main-slider__title
  &__title {
    width: rem(602);
    font-family: "Jura";
    font-weight: 400;
    line-height: 1.17;
    margin-bottom: rem(24);
    @include adaptiveValue("font-size", 41, 24, 1200, 768, 1);
    @media (max-width: em(768)) {
      text-transform: uppercase;
      width: 100%;
    }
  }
  // .slide-main-slider__text
  &__text {
    width: rem(447);
    font-weight: 400;
    line-height: 1.21;
    @include adaptiveValue("font-size", 19, 16, 1200, 768, 2);
    @include adaptiveValue("font-size", 16, 14, 768, 320);
    @media (max-width: $mobile) {
      width: 100%;
    }
    @media (max-width: em(768)) {
      line-height: 1.25;
    }
    @media (max-width: em(320)) {
      line-height: 1.4;
    }
  }
  // .slide-main-slider__button
  &__button {
    @include adaptiveValue("height", 55, 49, 1200, 768, 1);
    @include adaptiveValue("margin-left", 72, 0, 1200, 768, 1);
  }
  // .slide-main-slider__image
  &__image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    // max-height: rem(590);
    width: 100%;
    height: 100%;
    z-index: -20;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
//====================================================================
.controll-main-slider {
  margin-top: rem(-81);
  // .controll-main-slider__container
  &__container {
  }
  // .controll-main-slider__wrapper_main
  &__wrapper_main {
    display: flex;
    justify-content: space-between;
    column-gap: rem(20);
  }
  // .controll-main-slider__pagination
  &__pagination {
    flex: 1 1 auto;
    max-width: rem(440);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: rem(10);
    @include adaptiveValue("column-gap", 42, 15, 768, 320, 1);
    font-weight: 600;
    font-size: rem(15);
    line-height: 1.2;
    cursor: pointer;
    z-index: 5;
    transition: font-size 0.3s ease 0s;
    & [class*="-bullet"] {
      @media (any-hover: hover) {
        &:hover {
          font-size: rem(20);
        }
      }
    }
    & [class*="-bullet-active"] {
      width: rem(19);
      height: rem(19);
      border-radius: 50%;
      color: #000;
      background-color: #fff;
      @media (any-hover: hover) {
        &:hover {
          width: rem(25);
          height: rem(25);
        }
      }
    }
  }
  // .controll-main-slider__button-prev
  // .controll-main-slider__button-next
  &__button-prev,
  &__button-next {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: rem(48);
    width: rem(48);
    font-size: rem(9);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: font-size 0.3s ease 0s;
    transition: box-shadow 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        font-size: rem(12);
        box-shadow: 0px 0px 20px rgb(202, 198, 198);
      }
    }
  }
  &__button-prev {
    transform: rotate(-180deg);
  }
  &__button-next {
    transform: rotate(0deg);
  }
}
//====================================================================
.categories {
  // .categories__container
  &__container {
  }
  // .categories__wrapper_main
  &__wrapper_main {
  }
  // .categories__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1 0 auto;
    gap: rem(40) rem(20);
    @include adaptiveValue("margin-left", 90, 0, 1200, 768, 1);
    // @include adaptiveValue("margin-left", 52, 0, 768, 320);
    @include adaptiveValue("margin-right", 90, 0, 1200, 768, 1);
    // @include adaptiveValue("margin-right", 52, 0, 768, 320);
  }
  // .categories__item
  &__item {
    @include adaptiveValue("max-width", 210, 142, 1200, 768, 2);
    @include adaptiveValue("max-width", 142, 135, 768, 320);
  }
  // .categories__link
  &__link {
    display: inline-block;
    width: 100%;
    font-weight: 500;
    font-size: rem(17);
    line-height: 1.24;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
    &::before {
      font-size: rem(42);
      margin-bottom: rem(30);
      @media (max-width: em(580)) {
        margin-bottom: rem(15);
      }
    }
    @media (any-hover: hover) {
      &:hover {
        color: #ff0000;
      }
    }
  }
}
//====================================================================
.products-preview {
  // .products-preview__container
  &__container {
  }
  // .products-preview__wrapper_main
  &__wrapper_main {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    gap: rem(25) rem(18);
  }
  // .products-preview__intro-collection
  &__intro-collection {
    grid-column: span 2;
    grid-row: span 2;
  }
}
