.product-banner {
  // .product-banner__image-ibg
  &__image-ibg {
    background: linear-gradient(268.39deg, rgba(0, 0, 0, 0.21), rgba(0, 0, 0, 0.85));
    @include adaptiveValue("height", 590, 420, 768, 320, 1);
    img {
      z-index: -2;
    }
  }
  // .product-banner__container
  &__container {
  }
  // .product-banner__title
  &__title {
    font-family: "Jura";
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    @include adaptiveValue("font-size", 32, 24, 1200, 768, 1);
    @include adaptiveValue("margin-bottom", 30, 15, 1200, 768, 1);
    @include adaptiveValue("padding-top", 161, 131, 1200, 768, 2);
    @include adaptiveValue("padding-top", 131, 73, 768, 320);
    @media (min-width: $tablet) {
      max-width: rem(602);
    }
  }
  // .product-banner__text
  &__text {
    font-size: rem(16);
    line-height: 1.25;
    max-width: rem(447);
    @include adaptiveValue("margin-bottom", 30, 20, 768, 320, 1);
  }
  // .product-banner__button
  &__button {
    background-color: #c80000;
    margin-right: rem(30);
  }
  // .product-banner__price
  &__price {
  }
}
//====================================================================
.product-block {
  // .product-block__container
  &__container {
  }
  // .product-block__row
  &__row {
    display: flex;
    flex-wrap: wrap;
    row-gap: rem(20);
    @include adaptiveValue("column-gap", 140, 30, 1200, 768, 1);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 89, 30, 1200, 768, 1);
    }
    // .product-block__row_reverse
    &_reverse {
      flex-direction: row-reverse;
    }
  }
  // .product-block__image-ibg
  &__image-ibg {
    flex-shrink: 0;
    width: 100%;
    border-radius: rem(15);
    overflow: hidden;
    @include adaptiveValue("max-width", 630, 300, 1200, 768, 1);
    @include adaptiveValue("height", 635, 302, 1200, 768, 2);
    @include adaptiveValue("height", 302, 292, 768, 320);
  }
  // .product-block__text-block
  &__text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include adaptiveValue("max-width", 410, 300, 1200, 768, 1);
    @include adaptiveValue("gap", 24, 10, 768, 320, 1);
  }
  // .product-block__title
  &__title {
    font-family: "Jura";
    font-weight: 500;
    line-height: 1.16;
    @include adaptiveValue("font-size", 24, 18, 768, 320, 1);
    @media (min-width: $mobile) {
      text-transform: uppercase;
    }
  }
  // .product-block__text
  &__text {
    line-height: 1.25;
    @include adaptiveValue("font-size", 16, 14, 1200, 768, 2);
    @include adaptiveValue("font-size", 14, 12, 768, 320);
  }
}
//====================================================================
.about-product {
  background-color: $mainColorDarkGrayBg;
  @include adaptiveValue("padding-top", 90, 60, 1200, 768, 2);
  @include adaptiveValue("padding-top", 60, 30, 768, 320);
  @include adaptiveValue("padding-bottom", 90, 60, 1200, 768, 2);
  @include adaptiveValue("padding-bottom", 60, 30, 768, 320);
  & > *:not(:last-child) {
    @include adaptiveValue("margin-bottom", 90, 60, 1200, 768, 2);
    @include adaptiveValue("margin-bottom", 60, 30, 768, 320);
  }
  // .about-product__gallery
  &__gallery {
  }
  // .about-product__video
  &__video {
  }
  // .about-product__charactary
  &__charactary {
  }
}
.gallery-product {
}
.product-gallery {
  // .product-gallery__slider
  &__slider {
  }
  // .product-gallery__swiper
  &__swiper {
  }
  // .product-gallery__slide
  &__slide {
  }
  // .product-gallery__image-ibg
  &__image-ibg {
    @include adaptiveValue("margin-left", 30, 7, 768, 320, 1);
    @include adaptiveValue("width", 1230, 629, 1200, 768, 2);
    @include adaptiveValue("width", 629, 293, 768, 320);
    @include adaptiveValue("height", 700, 354, 1200, 768, 2);
    @include adaptiveValue("height", 354, 166, 768, 320);
  }
}
.video-product {
  @include adaptiveValue("height", 1020, 408, 1200, 768, 2);
  @include adaptiveValue("height", 408, 170, 768, 320);
}
.charactary-product {
  // .charactary-product__container
  &__container {
    display: flex;
    flex-direction: column;
    @media (min-width: $tablet) {
      height: rem(620);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
  }
  // .charactary-product__title
  &__title {
    text-align-last: left;
    margin-bottom: rem(14);
    display: flex;
    justify-content: center;
    @include adaptiveValue("margin-bottom", 60, 40, 768, 320, 1);
    @media (min-width: $tablet) {
      display: none;
    }
    & span {
      position: relative;
      font-family: "Jura";
      font-weight: 500;
      line-height: 1.16;
      @include adaptiveValue("font-size", 24, 18, 768, 320, 1);
      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        bottom: rem(-6);
        background-color: #c80000;
      }
    }
  }
  // .charactary-product__image
  &__image {
    align-self: center;
    @include adaptiveValue("margin-bottom", 60, 30, 768, 320, 1);
    @media (min-width: $tablet) {
      margin-right: rem(30);
      margin-bottom: 0;
    }
    & img {
      border-radius: 15px;
      overflow: hidden;
      height: auto;
      object-fit: contain;
      max-width: 100%;
      @include adaptiveValue("max-height", 380, 219, 768, 320, 1);
      @media (min-width: $tablet) {
        max-height: initial;
      }
    }
  }
  // .charactary-product__table-product
  &__table-product {
  }
}
.table-product {
  // .table-product__table
  &__table {
    margin-bottom: rem(30);
    border: none;
    border-collapse: collapse;
    width: 100%;
    @media (min-width: $tablet) {
      width: rem(419);
    }
  }
  // .table-product__title
  &__title {
    text-align-last: left;
    margin-bottom: rem(14);
    display: none;
    @media (min-width: $tablet) {
      display: block;
    }
    & span {
      position: relative;
      font-family: "Jura";
      font-weight: 500;
      font-size: rem(24);
      line-height: 1.16;
      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        bottom: rem(-6);
        background-color: #c80000;
      }
    }
  }
  // .table-product__body
  &__body {
  }
  // .table-product__row
  &__row {
    line-height: 1.25;
    border-bottom: 1px solid #4f4f4f;
    @include adaptiveValue("font-size", 16, 14, 768, 320, 1);
  }
  // .table-product__label
  // .table-product__value
  &__label,
  &__value {
    padding-top: rem(15);
    padding-bottom: rem(10);
  }
  // .table-product__label
  &__label {
  }
  // .table-product__value
  &__value {
    text-align: right;
  }
  // .table-product__more
  &__more {
    position: relative;
    font-weight: 600;
    font-size: rem(14);
    line-height: 1.21;
    text-transform: uppercase;
    color: $mainColorDarkGrayText;
    padding-left: rem(39);
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: rem(5);
      width: rem(15);
      height: 1px;
      background-color: $mainColorDarkGrayText;
    }
    &::after {
      transform: rotate(-90deg);
    }
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
//====================================================================
.accessories {
  // .accessories__container
  &__container {
  }
  // .accessories__title
  &__title {
    @include adaptiveValue("margin-bottom", 38, 27, 768, 320, 1);
    & span {
      position: relative;
      font-family: "Jura";
      font-weight: 500;
      line-height: 1.16;
      @include adaptiveValue("font-size", 24, 18, 768, 320, 1);
      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        bottom: rem(-6);
        background-color: #c80000;
      }
    }
  }
  // .accessories__products
  &__products {
  }
}
