.product-banner {
  // .product-banner__image-ibg
  &__image-ibg {
    background: linear-gradient(268.39deg, rgba(0, 0, 0, 0.21), rgba(0, 0, 0, 0.85));
    @include adaptiveValue("height", 590, 540, 768, 320, 1);
    img {
      z-index: -2;
    }
  }
  // .product-banner__container
  &__container {
  }
  // .product-banner__title
  &__title {
    font-family: "Jura";
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    @include adaptiveValue("font-size", 32, 24, 1200, 768, 1);
    @include adaptiveValue("margin-bottom", 30, 15, 1200, 768, 1);
    @include adaptiveValue("padding-top", 161, 131, 1200, 768, 2);
    @include adaptiveValue("padding-top", 131, 73, 768, 320);
    @media (min-width: $tablet) {
      max-width: rem(602);
    }
  }
  // .product-banner__text
  &__text {
    font-size: rem(16);
    line-height: 1.25;
    max-width: rem(447);
    @include adaptiveValue("margin-bottom", 30, 20, 768, 320, 1);
  }
  // .product-banner__button
  &__button {
    background-color: #c80000;
    margin-right: rem(30);
  }
  // .product-banner__price
  &__price {
  }
}
