.service {
  @include adaptiveValue("padding-top", 101, 73, 768, 320, 1);
  // .service__container
  &__container {
  }
  // .service__title
  &__title {
    font-family: "Jura";
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: rem(30);
    @include adaptiveValue("font-size", 32, 24, 768, 320, 1);
  }
  // .service__tabs
  &__tabs {
  }
}
.tabs-service {
  // .tabs-service__navigation
  &__navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: rem(15);
    @include adaptiveValue("margin-bottom", 60, 40, 768, 320, 1);
    // ._tab-active
    & ._tab-active {
      color: #fff;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        bottom: -5px;
        left: 0;
        background-color: #ed0c0c;
      }
    }
  }
  // .tabs-service__title
  &__title {
    font-weight: 500;
    font-size: rem(14);
    line-height: 1.21;
    text-transform: uppercase;
    color: $mainColorDarkGrayText;
  }
  // .tabs-service__content
  &__content {
  }
  // .tabs-service__body
  &__body {
  }
}
.care-service {
  // .care-service__phone
  &__phone {
    display: inline-block;
    font-family: "Jura";
    font-weight: 500;
    font-size: rem(24);
    line-height: 1.16;
    display: flex;
    justify-content: center;
    margin-bottom: rem(30);
  }
  // .care-service__form
  &__form {
    background-color: #fff;
    border-radius: rem(15);
    @include adaptiveValue("padding-top", 50, 30, 768, 320, 1);
    @include adaptiveValue("padding-left", 25, 0, 768, 320, 1);
    @include adaptiveValue("padding-right", 25, 0, 768, 320, 1);
    @include adaptiveValue("padding-bottom", 56, 30, 768, 320, 1);
  }
}
.tabs-service {
  // .tabs-service__body
  &__body {
  }
}

.care-service {
  // .care-service__phone
  &__phone {
  }
}
.form-care-service {
  font-size: rem(12);
  // .form-care-service__wrapper
  &__wrapper {
    max-width: rem(756);
    margin: 0 auto 0;
    font-weight: 500;
    line-height: 1.25;
    color: #656565;
    display: flex;
    flex-direction: column;
  }
  // .form-care-service__fields
  &__fields {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(290), 1fr));
    gap: rem(20);
    margin-bottom: rem(20);
  }
  // .form-care-service__field
  &__field {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: rem(10);
    background-color: #f7f7f7;
    border-radius: rem(5);
    padding: rem(15) rem(20);
    & input,
    & select {
      font-size: rem(16);
      background-color: #f7f7f7;
      outline: none;
      padding-bottom: rem(5);
      border-bottom: solid 2px #4f4f4f;
    }
    & .form__error {
      position: absolute;
      bottom: rem(-5);
      color: red;
    }
    & select {
      color: $mainColorDarkGrayText;
    }
    & input::placeholder {
      color: $mainColorDarkGrayText;
    }
  }
  // .form-care-service__comment
  &__comment {
    display: flex;
    flex-direction: column;
    gap: rem(11);
    margin-bottom: rem(25);
    & label {
      margin-left: rem(23);
    }
    & textarea {
      font-size: rem(16);
      background-color: #f7f7f7;
      resize: none;
      height: rem(182);
      padding: rem(15) rem(23);
      outline: none;
      &::placeholder {
        color: $mainColorDarkGrayText;
      }
    }
  }
  // .form-care-service__btn-submit
  &__btn-submit {
    align-self: center;
    color: #444444;
  }
}
